/__pycache__
/1. Break/2023
/1. Break/2022/10. Octubre
/1. Break/2022/11. Noviembre
/2. ScoreCard/2023
/2. ScoreCard/2022/Financieras/11. Noviembre
/2. ScoreCard/2022/Electricas/11. Noviembre
/3. Efectividad/2023
/3. Efectividad/2022/11. Noviembre
/funciones/temp
/reportes/anteriores